body {
    .title-row {
        .col {
            h1 {
                text-align: center;
            }
        }
    }
    .main-content {
        .submit-button-section {
            display: flex;
            justify-content: center;
            button {
                margin: 15px;
            }
        }
    }
}